.full-height {
  height: 100%;
  min-height: 100%;
}
.full-width {
  width: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.overflow-hidden {
  overflow: hidden;
}
.hand-cursor {
  cursor: pointer;
}
.white-text {
  color: white;
}
.black-text {
  color: #000000;
}
.default-font-size {
  font-size: 16px;
}
.default-line-height {
  line-height: 140%;
}
.white-background {
  background-color: white;
}
.whitesmoke-background {
  background-color: whitesmoke;
}
.inline-block {
  display: inline-block;
}
.no-outline {
  outline: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
input[type='range'] {
  cursor: pointer;
}
.blue-bar rect {
  stroke: white;
  fill: steelblue;
}
.blue-bar text {
  fill: black;
  text-anchor: end;
}
.blue-bar text.white-label {
  fill: white;
}
.president .label {
  font-size: 100%;
}
.president .tick text,
.president .axis.title {
  font-size: 12px !important;
}
.default-font {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
}
.default-body-background-color {
  background-color: white;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: #d3d3d3;
}
::-webkit-scrollbar-thumb {
  background-color: #808080;
}
html {
  overflow: auto;
}
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  color: #868c92;
  background-color: white;
  -webkit-print-color-adjust: exact;
}
h4 {
  margin: 0 0 10px 0;
}
.attention-text {
  font-weight: bold;
  color: orange;
}
.sidebar-menu {
  position: fixed;
  left: 5px;
  top: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50px;
  text-align: center;
  opacity: 0.2;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sidebar-menu:hover {
  opacity: 1;
}
.sidebar-menu .fa {
  color: #428bca;
  font-size: 40px;
  cursor: pointer;
}
.sidebar-menu .fa:hover {
  color: #285e8e;
}
.sidebar-menu .fa.text-icon {
  font-size: 25px;
  font-weight: bold;
}
.sidebar-menu .fa-cog {
  padding-bottom: 10px;
}
.popover-title {
  display: none;
}
.popover {
  max-width: 1000px !important;
}
